.boite{
    width: 150px;
    display: flex; /* or inline-flex */
    flex-direction: column;
    padding: 10px
}


.navigation{
    width: 225px;
    text-align: left;
    position: fixed;
}

.aside{
    width: 200px;
    height: 400px;
    text-align:center;
    position: fixed;
}

.main{
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    flex-basis: 20em;
    justify-content: space-around;
}


.lateralG{
    background-color:white;
    text-align: left;
    display: flex; /* or inline-flex */
    flex-basis: 15em;
    border: 1px solid black;
}

.lateralD{
    background-color:white;
    border: 1px solid black;
    text-align: left;
    display: flex; /* or inline-flex */
    flex-basis: 15em;
}


.pied{
    background-color:#B0C4DE;
    position:relative;   
    top:10px;
}


.contenu{
    background-color:Aliceblue;
    border: 1px solid black;
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-basis: 62em;
    flex-direction: column;
    padding: 10px;

}

.header{
    text-align:center;
}

body{
    background-color:#99b3e6;
}

.titre{
    width: 1500px;
    text-align:center;
    position: absolute;
    top: 100px;
    left: 10px;
}


.FontTitre{
    font-family:  Brush Script MT, cursive;
   /* font-style: italic;*/
    font-size: 5em;
    color: #66e0ff;
    position: absolute;
    height:50px;
    width: 100%;
    text-align:center; 
}


.balise{
   color:red;
   font-weight: bold;
}


.italique{
   font-style: italic;
}

.gras{
   font-weight: bold;
}

.scrat{
    position: fixed;
    left: 1220px;
}

.attribut{
   color:blue;
   font-weight: bold;
}

.greenText{
   color:#00cc00;
   font-weight: bold;
}
