.boite{
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px
}


.navigation{
    width: 225px;
    text-align: left;
    position: fixed;
}

.aside{
    width: 200px;
    height: 400px;
    text-align:center;
    position: fixed;
}

.main{
    display: flex; 
    flex-flow: row wrap;
    flex-basis: 20em;
    justify-content: space-around;
}


.lateralG{
    background-color:white;
    text-align: left;
    display: flex; 
    flex-basis: 15em;
    border: 1px solid black;
}

.lateralD{
    background-color:white;
    border: 1px solid black;
    text-align: left;
    display: flex;
    flex-basis: 15em;
}


.pied{
    background-color:white;
    border: 1px solid black;
    position:relative;   
    top:30px;
    padding: 10px;
    width:100%;
    text-align:center;
}

.pied:after{
   content:"DE PAGE";
   font-family:  Brush Script MT, cursive;
   font-size: 3em;
   color: black;
   text-align:center; 
}
.contenu{
    background-color:Aliceblue;
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    flex-basis: 62em;
    flex-direction: column;
    padding: 10px;

}

.header{
    text-align:center;
}

body{
    background-color:#99b3e6;
}

.titre{
    width: 1500px;
    text-align:center;
    position: absolute;
    top: 100px;
    left: 10px;
}


.FontTitre{
    font-family:  Brush Script MT, cursive;
   /* font-style: italic;*/
    font-size: 5em;
    color: #66e0ff;
    position: absolute;
    height:50px;
    width: 100%;
    text-align:center; 
}


.balise{
   color:red;
   font-weight: bold;
}


.italique{
   font-style: italic;
}

.gras{
   font-weight: bold;
}

.scrat{
    position: fixed;
    left: 1222px;
}

.selecteur{
   color:	#FF7F50;
   font-weight: bold;
}

.center{
   text-align:center; 
}

.attribut{
   color:blue;
   font-weight: bold;
}

.greenText{
   color:#00cc00;
   font-weight: bold;
}

.formulaire{
  border: 1px solid black;
  display: flex; 
  flex-direction: column; 
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  /*flex-basis: 18em;*/
  padding: 20px;
  width: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  height:20%;
}


.button{
  width: 50%;
  margin: 10px 0px;
  height: 30px;
  font-weight: bold;
  color: red;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-image:   linear-gradient(#0000ff,#00cc00)
}

.button:hover {
   background-image:   linear-gradient(#00cc00,#0000ff)
}

.alignLeft{
  text-align: left;
}

.boxsize{
  display: flex; 
  justify-content: flex-end;
  width: 100%;
  line-height: 20px;
  max-width: 100%;
}

.margin{
  margin: 10px 0px;
}

.padding{
  padding: 10px;
}

.liststylenone{
  list-style-type: none;
}

.backgroundFS{
  background-image:   linear-gradient(#99ffff,#e600e6)
}

.stylepre{
  font-style: normal;
  font-size:12pt;
  font-family: "Times New Roman";
}

.max-width{
  max-width: 100%;
}


